@{
    ViewBag.Title = "Service Provider Login";
}

<h1>Login to the MVC Service Provider</h1>
<p>
    @Html.ActionLink("SSO to the Identity Provider", "SingleSignOn",  null, new {title="Initiates SAML single sign-on to the identity provider."})
</p>
