<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 
      Configuration for communicating with the IdP.
      
      Valid values for SingleSignOnServiceBinding are:
          urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST
          urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect
          urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact
    -->
    <add key="SingleSignOnServiceBinding" value="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"/>
    <add key="HttpPostSingleSignOnServiceURL" value="http://localhost/ShibbolethIdp/SAML/SSOService.aspx?binding=post"/>
    <add key="HttpRedirectSingleSignOnServiceURL" value="http://localhost/ShibbolethIdp/SAML/SSOService.aspx?binding=redirect"/>
    <add key="HttpArtifactSingleSignOnServiceURL" value="http://localhost/ShibbolethIdp/SAML/SSOService.aspx?binding=artifact"/>
    <add key="ArtifactResolutionServiceURL" value="http://localhost/ShibbolethIdp/SAML/ArtifactResolutionService.aspx"/>
    <!--
      URLs when interoperating with the Shibboleth test IdP.
      Refer to https://www.testshib.org/testshib-two/index.jsp for information on configuring the Shibboleth test IdP.
      
    <add key="SingleSignOnServiceBinding" value="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"/>
    <add key="HttpPostSingleSignOnServiceURL" value="https://idp.testshib.org/idp/profile/SAML2/POST/SSO" />
    <add key="HttpRedirectSingleSignOnServiceURL" value="https://idp.testshib.org/idp/profile/SAML2/Redirect/SSO" />
    <add key="HttpArtifactSingleSignOnServiceURL" value="currently not supported by sp.testshib.org" />
    <add key="ArtifactResolutionServiceURL" value="currently not supported by sp.testshib.org" />
    -->
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms name="shibbolethsp" loginUrl="loginchoice.aspx">
        <credentials passwordFormat="Clear">
          <user name="sp-user" password="password"/>
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="Off"/>
    <trace enabled="true" writeToDiagnosticsTrace="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="TextWriter"/>
      </listeners>
    </trace>
    <sources>
      <source name="ComponentSpace.SAML2" switchValue="Verbose">
        <listeners>
          <add name="TextWriter"/>
        </listeners>
      </source>
      <source name="System.Security.Cryptography.Xml.SignedXml" switchValue="Verbose">
        <listeners>
          <add name="TextWriter"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="TextWriter" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\logs\sp.log"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>