<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <IdentityProvider Name="http://localhost:60539/"
                    Description="OWIN Example Identity Provider"
                    LocalCertificateFile="Certificates\idp.pfx"
                    LocalCertificatePassword="password"/>

  <PartnerServiceProviders>
    <!-- OWIN (ASP.NET Identity) example -->
    <PartnerServiceProvider Name="http://localhost:52053/"
                            Description="OWIN Example Service Provider"
                            WantAuthnRequestSigned="true"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"
                            AssertionConsumerServiceUrl="http://localhost:52053/SAML/AssertionConsumerService"
                            SingleLogoutServiceUrl="http://localhost:52053/SAML/SLOService"
                            PartnerCertificateFile="Certificates\sp.cer"/>

    <!-- Web forms example -->
    <PartnerServiceProvider Name="http://localhost/ExampleServiceProvider"
                            Description="Example Service Provider"
                            WantAuthnRequestSigned="true"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"
                            AssertionConsumerServiceUrl="http://localhost/ExampleServiceProvider/SAML/AssertionConsumerService.aspx"
                            SingleLogoutServiceUrl="http://localhost/ExampleServiceProvider/SAML/SLOService.aspx"
                            PartnerCertificateFile="Certificates\sp.cer"/>

    <!-- MVC example -->
    <PartnerServiceProvider Name="http://localhost/MvcExampleServiceProvider"
                            Description="MVC Example Service Provider"
                            WantAuthnRequestSigned="true"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"
                            AssertionConsumerServiceUrl="http://localhost/MvcExampleServiceProvider/SAML/AssertionConsumerService"
                            SingleLogoutServiceUrl="http://localhost/MvcExampleServiceProvider/SAML/SLOService"
                            PartnerCertificateFile="Certificates\sp.cer"/>

    <!-- ADFS -->
    <PartnerServiceProvider Name="http://adfs.test/adfs/services/trust"
                            Description="ADFS"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="false"
                            SignAssertion="true"
                            EncryptAssertion="false"
                            AssertionConsumerServiceUrl="https://adfs.test/adfs/ls/"/>

    <!-- Office 365 -->
    <PartnerServiceProvider Name="urn:federation:MicrosoftOnline"
                            Description="Office 365"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="false"
                            SignAssertion="true"
                            EncryptAssertion="false"
                            SignatureMethod="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
                            NameIDFormat="urn:oasis:names:tc:SAML:2.0:nameid-format:persistent"
                            AuthnContext="urn:oasis:names:tc:SAML:2.0:ac:classes:Password"
                            AssertionConsumerServiceUrl="https://login.microsoftonline.com/login.srf"
                            SingleLogoutServiceUrl="https://login.microsoftonline.com/login.srf"/>

    <!-- Google Apps -->
    <PartnerServiceProvider Name="google.com"
                            Description="Google Apps"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"/>

    <!-- Salesforce -->
    <PartnerServiceProvider Name="https://saml.salesforce.com"
                            Description="Salesforce"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"
                            SignatureMethod="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
                            AssertionConsumerServiceUrl="https://login.salesforce.com"/>
  
    <!-- Shibboleth -->
    <PartnerServiceProvider Name="https://sp.testshib.org/shibboleth-sp"
                            Description="Shibboleth"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"
                            SignatureMethod="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
                            AssertionConsumerServiceUrl="https://sp.testshib.org/Shibboleth.sso/SAML2/POST"/>
    
    <!-- ArcGIS -->
    <PartnerServiceProvider Name="componentspace.maps.arcgis.com"
                            Description="Esri ArcGIS"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"
                            AssertionConsumerServiceUrl="https://componentspace.maps.arcgis.com/sharing/rest/oauth2/saml/signin"
                            SingleLogoutServiceUrl="https://componentspace.maps.arcgis.com/sharing/rest/oauth2/saml/signout"/>

    <!-- Facebook at Work -->
    <PartnerServiceProvider Name="https://www.facebook.com/company/1684990565088877"
                            Description="Facebook at Work"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="false"
                            SignAssertion="true"
                            EncryptAssertion="false"
                            AssertionConsumerServiceUrl="https://componentspace.facebook.com/work/saml.php"/>

    <!-- Freshdesk -->
    <PartnerServiceProvider Name="https://componentspace.freshdesk.com"
                            Description="Freshdesk"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="false"
                            SignAssertion="true"
                            EncryptAssertion="false"
                            SignatureMethod="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
                            AssertionConsumerServiceUrl="https://componentspace.freshdesk.com/login/saml"/>

    <!-- Zendesk -->
    <PartnerServiceProvider Name="https://componentspace.zendesk.com"
                            Description="Zendesk"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="false"
                            SignAssertion="true"
                            EncryptAssertion="false"
                            AssertionConsumerServiceUrl="https://componentspace.zendesk.com/access/saml"/>

    <!-- OneLogin -->
    <PartnerServiceProvider Name="https://componentspacetest-dev.onelogin.com"
                            Description="OneLogin"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="false"
                            SignAssertion="true"
                            EncryptAssertion="false"
                            SignatureMethod="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
                            AssertionConsumerServiceUrl="https://componentspacetest.onelogin.com/sessions/saml"/>
  </PartnerServiceProviders>
</SAMLConfiguration>
