@model OwinExampleServiceProvider.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Use another service to log in.</h4>
<hr />
<p>@Html.ActionLink("SSO to the Identity Provider »", "SingleSignOn", null, new { @class = "btn btn-primary btn-lg" })</p>
