@using System.Security.Claims
@using System.Linq

@{
    ViewBag.Title = "Service Provider";
}

<h1>Welcome to the Cameyo SAML Test Service Provider Site</h1>
<p>
	You are logged in as @User.Identity.Name.
</p>

@{
    // Display the attributes returned by the identity provider.
    var claims = ((ClaimsIdentity)HttpContext.Current.User.Identity).Claims;

    if (claims.Count() > 0) {
        <h2>User Attributes</h2>

        foreach (var claim in claims) {
            <p>@claim.Type: @claim.Value</p>
        }
    }
}

<section id="logoutForm">
@using (Html.BeginForm("Logout", "Home")) {
    <p>
    <input type="submit" value="Logout" />
    </p>
}
</section>


