<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <IdentityProvider Name="http://cone-idp"
                    Description="Cone Identity Provider"
                    LocalCertificateFile="Certificates\idp.pfx"
                    LocalCertificatePassword="password"/>

  <PartnerServiceProviders>
    <!-- MVC example -->
    <!--<PartnerServiceProvider Name="http://localhost/Cameyo.SamlPoc.WebApp"
                            Description="Cameyo SAML POC Service Provider"
                            WantAuthnRequestSigned="true"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"
                            AssertionConsumerServiceUrl="http://localhost/Cameyo.SamlPoc.WebApp/SAML/AssertionConsumerService"
                            SingleLogoutServiceUrl="http://localhost/Cameyo.SamlPoc.WebApp/SAML/SLOService"
                            PartnerCertificateFile="Certificates\sp.cer"/>-->
    <PartnerServiceProvider Name="http://samltest"
                            Description="Cameyo SAML POC Service Provider"
                            WantAuthnRequestSigned="true"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"
                            AssertionConsumerServiceUrl="http://samltest/SAML/AssertionConsumerService"
                            SingleLogoutServiceUrl="http://samltest/SAML/SLOService"
                            PartnerCertificateFile="Certificates\sp.cer"/>
  </PartnerServiceProviders>
</SAMLConfiguration>
