@using System.Security.Claims
@using System.Linq

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cameyo SAML POC</h1>
    <p class="lead">This POC is an example of implementation of SAML2 SSO with third-party SAML Identity Providers (Authentication Servers).</p>
    <p><a href="https://www.componentspace.com/">ComponentSpace</a> library is used</p>
    <p>Please proceed to @Html.ActionLink("Log in page", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) and try to login locally or via any supported Identity Provider</p>
</div>

@if (this.User.Identity.IsAuthenticated)
{
<div class="row">
    <div class="col-md-4">
        <h2>Logged in as @User.Identity.Name</h2>
        <p>
            @{
                // Display the attributes returned by the identity provider.
                var claims = ((ClaimsIdentity)HttpContext.Current.User.Identity).Claims;

                if (claims.Count() > 0)
                {
                    <h2>User Claims</h2>

                    foreach (var claim in claims)
                    {
                    <p>@claim.Type: @claim.Value</p>
                    }
                }
            }
        </p>
    </div>
</div>
}
