@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>
    This example demonstrates using the ComponentSpace SAML v2.0 library to enable SAML single sign-on
    as the identity provider.
</p>
<p>
    It includes support for identity provider (IdP) and service provider (SP) initiated 
    single sign-on (SSO) and single logout (SLO).
</p>
