<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="idpssoURL" value="http://localhost/SAML2IdentityProvider/SAML/SSOService.aspx"/>
    <add key="idpArtifactResponderURL" value="http://localhost/SAML2IdentityProvider/SAML/ArtifactResponder.aspx"/>
    <add key="idpLogoutURL" value="http://localhost/SAML2IdentityProvider/SAML/SLOService.aspx"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms name="saml2serviceprovider" loginUrl="loginchoice.aspx">
        <credentials passwordFormat="Clear">
          <user name="sp-user" password="password"/>
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="RemoteOnly"/>
    <trace enabled="true" writeToDiagnosticsTrace="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="TextWriter"/>
      </listeners>
    </trace>
    <sources>
      <source name="ComponentSpace.SAML2" switchValue="Verbose">
        <listeners>
          <add name="TextWriter"/>
        </listeners>
      </source>
      <source name="System.Security.Cryptography.Xml.SignedXml" switchValue="Verbose">
        <listeners>
          <add name="TextWriter"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="TextWriter" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\logs\sp.log"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>