<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- The relative or absolute path of the SAML configuration file. It defaults to saml.config. -->
    <!--<add key="SAMLConfigFile" value="saml.config"/>-->
    <!-- The partner service provider for IdP-initiated SSO. -->
    <add key="PartnerSP" value="http://localhost/ExampleServiceProvider"/>
    <!-- The target service provider URL for IdP-initiated SSO. If not specified, the default target page is displayed. -->
    <!--
    <add key="TargetUrl" value=""/>
    -->
    <!-- The subject name to include in the SAML assertion. If not specified, the logged in user's name is used. -->
    <!--
    <add key="SubjectName" value=""/>
    -->
    <!-- Attributes to include in the SAML assertion. The attribute name format is Attribute_<Name>. -->
    <add key="Attribute_membership-level" value="platinum"/>
    <add key="Attribute_membership-number" value="12345678"/>
  </appSettings>
  <connectionStrings>
    <!-- A SAML database for persisting SAML identifiers and session data in a web farm deployment. -->
    <!--
    <add name="SAML" providerName="System.Data.SqlClient" connectionString="data source=localhost;database=SAML;uid=saml;pwd=password"/>
    <add name="SAML" providerName="MySql.Data.MySqlClient" connectionString="database=SAML;user=saml;password=password"/>
    -->
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms name="ExampleIdentityProvider" loginUrl="login.aspx">
        <credentials passwordFormat="Clear">
          <user name="idp-user" password="password"/>
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <trace enabled="true" writeToDiagnosticsTrace="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- The diagnostics are only required for problem determination. -->
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="CyclicTextWriter"/>
      </listeners>
    </trace>
    <sources>
      <source name="ComponentSpace.SAML2" switchValue="Verbose">
        <listeners>
          <add name="CyclicTextWriter"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <!-- Ensure IIS has create/write file permissions for the log folder. -->
      <add name="CyclicTextWriter" type="ComponentSpace.SAML2.Utility.CyclicTraceListener,ComponentSpace.SAML2" initializeData="logs"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>