<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <ServiceProvider Name="http://localhost/Cameyo.SamlPoc.WebApp"
                   Description="Cameyo SAML POC Service Provider"
                   AssertionConsumerServiceUrl="~/SAML/AssertionConsumerService"
                   LocalCertificateFile="Certificates\sp.pfx"
                   LocalCertificatePassword="password"/>

  <PartnerIdentityProviders>
    <!-- MVC example -->
    <PartnerIdentityProvider Name="http://cone-idp"
                             Description="Cone Identity Provider"
                             SignAuthnRequest="true"
                             SingleSignOnServiceUrl="http://cone-idp/SAML/SSOService"
                             SingleLogoutServiceUrl="http://cone-idp/SAML/SLOService"
                             PartnerCertificateFile="Certificates\idp.cer"/>
  </PartnerIdentityProviders>
</SAMLConfiguration>
